
#container{
	
	background-color:#9999FF; 
	width: 500p;

	
}


#main{
	
	text-align: right;
	width:200p;
	
}

#nav{
	text-align: left;
	
}





#footer{
	
	text-align: center;
	color:#CC00CC;
	
}



boody{
  background-color: black;
  text-align:center;
  
}



p{
  
  font-family: "Kinari","Arial","Antiqua";
  color:black;
  
}


h1{
	
	text-align:center;
	color:#CC00CC;
}
	

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	




















