
#container{
	
	background-color:#9999FF; 
	width: 500p;

	
}


#main{
	
	text-align: right;
	width:200p;
	height:800;
	
}

#nav{
	text-align: left;
	background-color:white;
	border:5p solid black;
	width:180px;
	height:150px; 
	
	
}





#footer{
	
	text-align: center;
	background-color:#CC00CC;
	
	
}


	
}

boody{
  background-color: black;
  text-align:center;
  
}



p{
  background-color:#FFFF66;
  font-family: "Kinari","Arial","Antiqua";
  color:black;
	
  
}



h1{
	
	text-align:center;
	color:#CC00CC;
}
	

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	




















